::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

* {
    box-sizing: border-box
}

body, select, textarea {
    font-family: Roboto, sans-serif
}

body {
    margin: 0;
    padding: 0;
    color: #eee;
    background-color: #000
}

#bg {
    background-size: contain;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

#top-spacer {
    height: 60px
}

#top {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    display: flex;
    background-color: rgba(9, 14, 20, .92);
    border-bottom: 1px dotted rgba(194, 194, 194, .24);
    padding-top: 10px;
}

#wrap {
    position: relative;
    z-index: 1
}

#intro {
    padding: 10px 0
}

#intro .header {
    font-weight: 600;
    font-size: 24px;
    font-family: Teko, sans-serif;
    text-transform: uppercase;
    width: 170px;
    line-height: 1
}

#intro .subheader {
    display: none;
    font-size: 16px
}

#intro .date-updated {
    padding-top: 10px;
    color: #f5c22a;
    font-style: italic;
    line-height: 1
}

#intro .badges {
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 11px;
    line-height: 32px
}

#intro .badges .badge {
    font-size: 11px;
    line-height: 20px;
    margin-right: 9px;
    padding: 2px 0 0 19px;
    background: no-repeat center left;
    background-size: 16px 16px
}

#intro .badges .badge:last-child {
    margin-right: 0
}

#intro .badges .badge-flag {
    background-image: url(../images/flag-de.svg)
}

#intro .badges .badge-secure {
    background-image: url(../images/tick-legal.svg)
}

#intro .badges .badge-wallet {
    background-image: url(../images/tick-wallet.svg)
}

#intro .badges .date {
    display: none;
    padding-left: 0
}

#offers {
    padding: 10px 0
}

#offers .container {
    padding: 0
}

#offers .offer-head, #offers .offer-body {
    display: flex;
    justify-content: space-between
}

#offers .offer-head {
    display: none
}

#offers .offer-body {
    background-color: #101010;
    margin-bottom: 5px;
    border: 1px solid #242728;
    position: relative;
    z-index: 10
}

@media (max-width: 767px) {
    #offers .offer-body {
        flex-wrap: wrap;
    }
}

#offers .offer-body:after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -55%;
    right: 55%;
    z-index: -1;
    transform: skewX(15deg);
    background: #192024
}

#offers .offer-body > div {
    padding: 10px
}

#offers .offer-body .offer-badge {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    padding: 0
}

#offers .offer-body .offer-badge .badge {
    padding: 0 6px;
    text-align: center;
    background: #f33;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    height: 22px;
    line-height: 22px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .3)
}

#offers .offer-body .offer-badge .badge:after, #offers .offer-body .offer-badge .badge span {
    content: ' ';
    position: absolute;
    height: 0;
    width: 0;
    top: 2px;
    right: -6px;
    z-index: 2;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 7px solid #f33
}

#offers .offer-body .offer-badge .badge:after {
    z-index: -1;
    top: 1px;
    filter: blur(1px);
    border-left-color: rgba(0, 0, 0, .3)
}

#offers .offer-body .offer-logo {
    flex-basis: 50%;
    padding-top: 22px
}

#offers .offer-body .offer-logo a {
    display: block
}

#offers .offer-body .offer-logo img {
    object-fit: contain;
    width: 78%;
    vertical-align: middle
}

#offers .offer-body .offer-bonus {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 10px 0 0;
    height: 80px
}

#offers .offer-body .offer-bonus .bonus {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    line-height: 1;
    font-size: 14px;
}

#offers .offer-body .offer-bonus .bonus strong {
    display: block;
    line-height: 1
}

#offers .offer-body .offer-bonus .welcome {
    display: none
}

#offers .offer-body .offer-rating {
    padding-left: 0;
    padding-right: 0;
    flex-basis: 28%;
    text-align: center;
    align-self: flex-end
}

#offers .offer-body .offer-rating .stars {
    display: inline-block;
    align-items: baseline;
    flex-wrap: wrap;
    color: #f5c22a;
    max-width: 90px;
}

#offers .offer-body .offer-rating .stars > div {
    margin-left: 1px
}

#offers .offer-body .offer-rating .stars > div:first-child {
    margin-left: 0
}

#offers .offer-body .offer-rating .stars > div:nth-child(1), #offers .offer-body .offer-rating .stars > div:nth-child(5) {
    font-size: 11px
}

#offers .offer-body .offer-rating .stars > div:nth-child(2), #offers .offer-body .offer-rating .stars > div:nth-child(4) {
    font-size: 13px
}

#offers .offer-body .offer-rating .stars > div:nth-child(3) {
    font-size: 15px
}

#offers .offer-body .offer-rating .stars > .active:after {
    content: '\E915'
}

#offers .offer-body .offer-rating .stars > .inactive:after {
    content: '\E914'
}

#offers .offer-body .offer-rating .stars > .half:after {
    content: '\E917'
}

#offers .offer-body .offer-rating .votes {
    font-size: 11px;
    line-height: 1;
    margin-top: 3px
}

#offers .offer-body .offer-score {
    flex-basis: 22%;
    text-align: center;
    align-self: flex-end
}

#offers .offer-body .offer-score .score {
    font-size: 34px;
    font-family: Teko, sans-serif;
    line-height: 30px;
    text-decoration: none;
    color: inherit
}

#offers .offer-body .offer-score .our-score {
    font-size: 11px;
    line-height: 1;
    margin-top: 3px;
    display: block
}

#offers .offer-body .offer-cta {
    flex-basis: 50%;
    text-align: center;
    align-self: flex-end
}

#offers .offer-body .offer-cta .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 19px;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, .22);
    background-image: -webkit-gradient(linear, left top, right top, from(#ffa700), to(#ffe220));
    text-decoration: none;
    padding: 6px 14px
}

#offers .offer-body .offer-cta .btn span {
    display: block;
    font-family: 'Fira Sans', sans-serif;
    font-size: 19px;
    line-height: 1;
    margin-top: 4px;
    font-weight: 600;
    color: #090e14;
    text-transform: uppercase
}

#offers .offer-body .offer-cta .btn:after {
    content: "";
    background: url(arrow1.png) no-repeat center center / cover;
    display: block;
    width: 10px;
    height: 12px;
    margin-left: 5px;
    transition: all .3s
}

#offers .offer-body .offer-cta .btn:hover:after {
    margin-left: 10px
}

#offers .offer-body .offer-cta .lnk {
    font-family: 'Roboto', sans-serif;
    display: none;
    margin-top: 8px;
    font-size: 13px;
    color: inherit
}

#offers .offer-body .offer-cta .lnk:hover {
    text-decoration: none
}

#about {
    background-color: #000;
    color: #666;
    text-align: justify;
    padding-top: 15px
}

#about .container h2:first-child {
    margin-top: 0
}

#footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 12px
}

#footer {
    background-color: #232732
}

#footer a {
    color: #c9caca;
    text-decoration: underline
}

#footer a:hover {
    text-decoration: none
}

#footer .footer-left, #footer .footer-right {
    padding: 15px 0
}

#footer .footer-left .logo {
    width: 100%;
    max-width: 166px;
    height: 30px;
    display: block;
    background-size: contain;
    filter: grayscale(100%)
}

#footer .footer-left .copyright {
    padding-top: 15px
}

#footer .footer-right img {
    display: inline-block;
    padding-left: 15px
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px
}

.text-yellow {
    color: #f5c22a !important
}

@media (min-width: 361px) {
    #offers .offer-body .offer-rating .stars > div:nth-child(1), #offers .offer-body .offer-rating .stars > div:nth-child(5) {
        font-size: 13px
    }

    #offers .offer-body .offer-rating .stars > div:nth-child(2), #offers .offer-body .offer-rating .stars > div:nth-child(4) {
        font-size: 15px
    }

    #offers .offer-body .offer-rating .stars > div:nth-child(3) {
        font-size: 17px
    }

    #offers .offer-body .offer-rating .votes {
        font-size: 13px
    }

    #offers .offer-body .offer-score .score {
        font-size: 44px
    }

    #offers .offer-body .offer-score .our-score {
        font-size: 13px
    }

    #offers .offer-body .offer-cta .btn span {
        font-size: 22px
    }
}

@media (min-width: 400px) {
    #offers .offer-body .offer-bonus {
        padding: 10px 10px 0 0;
    }
}

@media (min-width: 450px) {
    #offers .offer-body .offer-bonus .bonus {
        font-size: 16px;
    }
}

@media (min-width: 500px) {
    #offers .offer-body .offer-bonus .bonus {
        font-size: 20px;
    }
}

@media (min-width: 576px) {
    #offers .offer-body .offer-bonus .bonus {
        font-size: 22px;
    }
}

@media (min-width: 760px) {
    #bg {
        background: #000 url(../images/bg.jpg) fixed center top no-repeat;
        background-size: cover
    }

    #intro {
        padding-top: 25px
    }

    #intro .header {
        font-weight: 700;
        font-size: 42px;
        font-family: inherit;
        text-transform: none;
        width: auto;
        line-height: inherit
    }

    #intro .subheader {
        display: block
    }

    #intro .badges {
        padding-top: 15px
    }

    #intro .badges .badge {
        font-size: 14px;
        margin-right: 15px
    }

    #intro .date-updated {
        display: none
    }

    #intro .badges .date {
        display: block
    }

    #intro .badges .date .text-yellow {
        font-weight: 700
    }

    #offers .offer-head {
        display: flex;
        background: rgba(95, 95, 95, 0.5);
        color: #fff;
        padding: 10px 0;
        text-align: center;
        white-space: nowrap;
        font-weight: 600
    }

    #offers .offer-body {
        color: #000;
        background: #fff;
        margin-top: 10px;
        border: none
    }

    #offers .offer-head > div, #offers .offer-body > div, #offers .offer-body .offer-logo, #offers .offer-body .offer-bonus, #offers .offer-body .offer-rating, #offers .offer-body .offer-score, #offers .offer-body .offer-cta {
        position: relative;
        padding: 0 15px;
        align-self: center
    }

    #offers .offer-body:after {
        display: none
    }

    #offers .offer-body > div:after {
        content: '';
        display: block;
        width: 1px;
        height: 50px;
        background: #eee;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%)
    }

    #offers .offer-body > div.offer-badge:after, #offers .offer-body > div.offer-logo:after {
        display: none
    }

    #offers .offer-head .offer-logo, #offers .offer-body .offer-logo {
        flex-basis: 25%
    }

    #offers .offer-head .offer-bonus, #offers .offer-body .offer-bonus {
        flex-basis: 25%
    }

    #offers .offer-head .offer-rating, #offers .offer-body .offer-rating {
        flex-basis: 20%
    }

    #offers .offer-head .offer-score, #offers .offer-body .offer-score {
        flex-basis: 10%
    }

    #offers .offer-head .offer-cta, #offers .offer-body .offer-cta {
        flex-basis: 25%
    }

    #offers .offer-body .offer-badge {
        margin-left: -10px;
        top: 5px
    }

    #offers .offer-body .offer-badge .badge {
        font-size: 14px;
        padding: 0 20px;
        height: 26px;
        line-height: 26px
    }

    #offers .offer-body .offer-badge .badge:before {
        content: ' ';
        position: absolute;
        height: 0;
        width: 0;
        bottom: -10px;
        left: 0;
        border-top: 10px solid #ab2121;
        border-left: 10px solid transparent
    }

    #offers .offer-body .offer-badge .badge:after, #offers .offer-body .offer-badge .badge span {
        display: block;
        right: -12px;
        border-top-width: 13px;
        border-bottom-width: 13px;
        border-left-width: 12px;
        top: 0;
    }

    #offers .offer-body .offer-logo {
        align-self: center;
        position: relative;
        height: 126px
    }

    #offers .offer-body .offer-logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: relative;
        z-index: 10;
        transition: transform 300ms
    }

    #offers .offer-body .offer-logo a {
        display: block;
        max-width: 70%;
        height: 100%
    }

    #offers .offer-body .offer-logo a:hover img {
        transform: scale(1.1)
    }

    #offers .offer-body .offer-logo a span {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        -webkit-transform: skewX(32deg);
        transform: skewX(32deg)
    }

    #offers .offer-body .offer-logo a span:nth-child(2) {
        opacity: 1;
        left: 0;
        right: 80px;
        -webkit-transform: none;
        transform: none
    }

    #offers .offer-body .offer-logo a span:nth-child(3) {
        opacity: 1;
        right: 39px;
        width: 100px;
        z-index: 4
    }

    #offers .offer-body .offer-logo a span:nth-child(4) {
        opacity: .8;
        right: 30px;
        width: 10px;
        z-index: 3
    }

    #offers .offer-body .offer-logo a span:nth-child(5) {
        opacity: .4;
        right: 15px;
        width: 15px;
        z-index: 2
    }

    #offers .offer-body .offer-logo a span:nth-child(6) {
        opacity: .2;
        right: 0;
        width: 15px;
        z-index: 1
    }

    #offers .offer-body .offer-bonus .bonus {
        color: #000;
        font-size: 19px;
    }

    #offers .offer-body .offer-rating .stars > div:nth-child(1), #offers .offer-body .offer-rating .stars > div:nth-child(5) {
        font-size: 16px
    }

    #offers .offer-body .offer-rating .stars > div:nth-child(2), #offers .offer-body .offer-rating .stars > div:nth-child(4) {
        font-size: 18px
    }

    #offers .offer-body .offer-rating .stars > div:nth-child(3) {
        font-size: 20px
    }

    #offers .offer-body .offer-score .score {
        font-size: 32px;
        padding-top: 10px;
        display: block
    }

    #offers .offer-body .offer-score .our-score {
        display: none
    }

    #offers .offer-body .offer-cta .btn {
        padding: 10px 18px
    }

    #offers .offer-body .offer-cta .lnk {
        display: block;
        margin-top: 10px
    }

    #about {
        background-color: #fff;
        padding: 25px 0
    }

    #offers .offer-body .offer-rating .stars {
        max-width: 120px;
    }
}

@media (min-width: 1170px) {
    #offers .offer-body {
        border-radius: 14px 8px 8px 14px
    }

    #offers .offer-body .offer-logo a span:nth-child(2) {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px
    }
}

@media (max-width: 760px) {
    #offers .offer-body .offer-logo a.colors-set {
        background-color: transparent !important
    }
}* {
     margin:0;
     padding:0;
     box-sizing: border-box;
 }

body, html {
    height: 100%;
    font-family: sans-serif;
}

/* ------------------------------------ */
a {
    margin:0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

/* ------------------------------------ */
h1, h2, h3, h4, h5, h6 {
    margin:0;
}

ul, li {
    margin:0;
    list-style-type: none;
}

/* ------------------------------------ */
input {
    display: block;
    outline: none;
    border: none !important;
}

textarea {
    display: block;
    outline: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}

/* ------------------------------------ */
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.btn {
    background: #dd0045;
    display: block;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    height: 69px;
    padding: 20px 30px;
    max-width: 100%;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn:hover {
    color: #fff;
    background: #972900;
}

iframe {
    border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #c4d3f6;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table100 {
    width: 100%;
    overflow: hidden;
}

.table {
    width: 100%;
    display: table;
    margin: 0;
}

@media screen and (max-width: 992px) {
    .table {
        display: block;
    }
}

.rows {
    display: table-row;
    background-color: #c4efff;
}

.rows.header {
    color: #ffffff;
    background: #ff5722;
}

@media screen and (max-width: 992px) {
    .rows {
        display: block;
    }

    .rows.header {
        padding: 0;
        height:0;
        display: none;
    }

    .rows.header .cell {
        display: none;
    }

    .rows .cell:before {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        color: #808080;
        line-height: 1.2;
        text-transform: uppercase;
        font-weight: unset !important;

        margin-bottom: 13px;
        content: attr(data-title);
        min-width: 98px;
        display: none;
    }
}

.cell {
    display: table-cell;
}

@media screen and (max-width: 992px) {
    .cell {
        display: block;
    }
}

.rows .cell {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: unset !important;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    border-bottom: 2px solid #5396c5;
}

.rows.header .cell {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;
    text-align: center;

    padding-top: 19px;
    padding-bottom: 19px;
}

@media (min-width: 992px) {
    .rows .cell:nth-child(1) {
        border-left: 2px solid #5396c5;
    }
}

.rows .cell:nth-child(1) {
    width: 300px;
    padding-left: 40px;

}



.rows .cell:nth-child(2) {
    width: 100px;
}

.rows .cell:nth-child(3) {
    width: 280px;
}

.rows .cell:nth-child(4) {
    width: 190px;
}


@media (min-width: 992px) {
    .rows .cell:nth-child(5) {
        border-right: 2px solid #5396c5;
    }
}

.rows .cell:nth-child(5) {
    width: 150px;
}


.table, .rows {
    width: 100% !important;
}

@media (max-width: 992px) {
    .rows {
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 18px;
        padding-top: 0;
        padding-right: 15px;
        margin: 0;
    }

    .rows .cell {
        border: none;
        padding-left: 30px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .rows .cell:nth-child(1) {
        padding-left: 30px;
    }

    .rows .cell {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        color: #555555;
        line-height: 1.2;
        font-weight: unset !important;
    }

    .table, .rows, .cell {
        width: 100% !important;
    }

    .rows .cell:nth-child(2) {
        width: 24% !important;
        display: inline-block;
    }

    .rows .cell:nth-child(3) {
        width: 74% !important;
        display: inline-block;
    }
}

.main-content {
    background-color: #c4d3f6;
}

.cell .punktzahl {
    font-size: 40px;
    border-radius: 10px;
    padding: 10px;
    font-weight: 700;
    color: #543764;
}

.cell[data-title="Anbieter"] img {
    border-radius: 2px;
    object-fit: cover;
}

.cell .bewertung span {
    font-size: 2em;
}

.cell[data-title="Info"] {
    font-size: 16px;
    font-weight: 700 !important;
    text-align: left;
}