@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Teko:wght@400;500;600&display=swap');

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    min-height: 50px;
    padding: 10px;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
}

.intro {
    padding: 20px 0;
    color: #fff;
    background: #000 url('bg.jpg') no-repeat center center / cover;
}

.intro__title {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    margin-top: 20px;
    margin-bottom: 0;
}

.intro__text {
    margin-top: 0;
    text-align: center;
    font-style: italic;
    color: #ffe525;
    font-size: 1.4em;
    font-family: 'Open Sans', sans-serif;
}

.intro__badge {
    display: flex;
    font-size: 12px;
}

.intro__badge span {
    margin-right: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.intro__badge span:first-child {
    background-image: url('badge1.png');
}

.intro__badge span:nth-child(2) {
    background-image: url('badge2.png');
}

.intro__badge span:nth-child(3) {
    background-image: url('badge3.png');
}

@media (min-width: 501px) {
    .intro__badge {
        display: flex;
        font-size: 15px;
    }

    .intro__badge span {
        margin-right: 20px;
        padding-left: 25px;
        background-size: 20px;
    }
}

@media (min-width: 768px) {
    .intro__title {
        font-size: 4.5em;
    }
}

.list {
    background-color: #000;
    padding-top: 30px;
}

.list-item {
    text-transform: uppercase;
    position: relative;
    background: linear-gradient(80deg, rgba(27, 32, 38, 1) 49%, rgba(16, 16, 16, 1) 49%);
    color: #fff;
    display: flex;
    min-height: 200px;
    margin-bottom: 10px;
}

.list-item__flag {
    z-index: 20;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3px 15px 0 5px;
    font-weight: 700;
    clip-path: polygon(93% 0, 100% 50%, 93% 100%, 0 100%, 0 0);
    color: #fff;
    background-color: #f10b11;
}

.list-item__left {
    padding: 15px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.list-item__img {
    max-width: 200px;
}

.list-item__info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.list-item__rating {
    text-align: center;
    font-size: 13px;
    text-transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.list-item__rating img {
    max-width: 90px;
    margin-bottom: 4px;
}

.list-item__score {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    text-transform: none;
    font-family: 'Open Sans', sans-serif;
}

.list-item__score span {
    font-size: 3.5em;
    line-height: 1em;
    font-weight: 500;
    font-family: 'Teko', sans-serif;
}

.list-item__right {
    padding: 15px 0 15px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.list-item__text {
    text-align: center;
    flex: 0 1 100%;
    font-size: 1.5em;
    line-height: 1;
}

.list-item__text span {
    display: block;
}

a.list-item__btn {
    color: #000;
    text-align: center;
    white-space: nowrap;
    flex: 0 1 100%;
    border-radius: 40px;
    padding: 10px 10px 5px;
    font-weight: 700;
    background: linear-gradient(90deg, #FBAA01, #FFDF20);
    font-size: 22px;
    transition: all 0.2s ease;
}

a.list-item__btn img {
    margin-bottom: 2px;
}

a.list-item__btn:hover {
    text-decoration: none;
    background: linear-gradient(180deg, #FBAA01, #FBAA01);
    transition: all 0.2s ease;
}

@media (min-width: 450px) {
    a.list-item__btn {
        padding: 10px 30px 5px;
    }
}

@media (min-width: 576px) {

    .list-item__info {
        width: 80%;
    }

    .list-item__text {
        font-size: 1.5em;
    }
}

@media (max-width: 767px) {
    .list-item__img img {
        max-width: 90%;
    }
}

@media (min-width: 992px) {

    .list-item__rating img {
        max-width: 100px;
    }

    .list-item__img {
        max-width: 250px;
    }

    .list-item__info {
        width: 40%;
    }

    .list-item__right {
        flex-direction: row;
    }

    .list-item__left {
        flex-direction: row;
        align-items: center;
    }

    .list-item__info {
        width: 50%;
        justify-content: space-around;
    }
}

@media (min-width: 1200px) {

    .list-item__rating img {
        max-width: 130px;
    }

    .list-item {

        background: linear-gradient(90deg, rgba(27, 32, 38, 1) 49%, rgba(16, 16, 16, 1) 49%);
    }
}